

.cover {
  background-image: url("images/cover.jpg");
  background-size: cover;
  /*height: 400px;*/
  width: 100%;
  color: white;
  text-align: left;
  padding: 250px 125px;
  align-content: center;


}

.favorite-country {
  background-image: url("images/Iceland2.jpg");
  background-size: cover;
  /*height: 400px;*/
  width: 100%;
  color: white;
  text-align: center;
  padding: 300px 150px;
  align-content: center;

}

.favorite-city {
  background-image: url("images/Hong_Kong_780x520px.jpg");
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
  padding: 300px 150px;
  align-content: center;
}

.favorite-country a {
  color: white;
  text-decoration: none;
}

.favorite-city a {
  color: white;
  text-decoration: none;
}

.favorite-show a {
  color: white;
  text-decoration: none;
}

.favorite-store a {
  color: white;
  text-decoration: none;
}

.favorite-show {
  background-image: url("images/goteye.jpg");
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
  padding: 300px 150px;
  align-content: center;
}

.favorite-store {
  background-image: url("images/macyimage.jpg");
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
 padding: 300px 150px;
  align-content: center;
}

.a {
  background-color: rgb(35,35,35);
}

.divgrey {
  background-color: rgb(40,40,40);
  font-family: sans-serif;
  color: white;
}

.divwhite {
  background-color: #FFFFFF;
  font-family: sans-serif;
  color: rgb(40,40,40);
}

a {
  background-color: rgb(40,40,40,0.4);
  color: white;
  font-family: sans-serif;
  padding: 10px;
  border: 10px 10px 10px 10px;
  font-size: 30px;



}



